.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}



body {
    background-image: linear-gradient(#174960, #53788A);
    text-align: center;
}

.menuaccueil {

   color:white; 
}

.menuaccueil:hover {

    color:blue; 
 }