.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}



body {
    background-image: linear-gradient(#174960, #53788A);
    text-align: center;
}

.menuaccueil {

   color:white; 
   
}

.menuaccueil:hover {

    color:#2C596F; 
   
 }

 .main-navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5em;
}

/*Supprime les widgets*/
.entry-meta {
    display: none;
}

.entry-footer {
    display: none;
}

.widget-area {
    display: none;
}

.imprint {
    display: none;
}

.post-navigation .nav-links {
    display: none;
}

.site-info {
    color: white;
    font-size: 100px;
}

