.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}



body {
    background-image: linear-gradient(#174960, #53788A);
    text-align: center;
}

.menuaccueil {

   color:white; 
   
}

.menuaccueil:hover {

    color:#2C596F; 
   
 }

 .main-navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5em;
}

/*Supprime les widgets*/
.entry-meta {
    display: none;
}

.entry-footer {
    display: none;
}

.widget-area {
    display: none;
}

.imprint {
    display: none;
}

.post-navigation .nav-links {
    display: none;
}

.site-info {
    color: white;
    font-size: 100px;
}

.wp-block-media-text__content {
    color: white;
    background-color: #570000;

}



.entry .entry-content > *, .entry .entry-summary > * {
    margin: 32px 0;
    background-color: darkred;
    color: white;
}



p.has-background.has-drop-cap.has-small-font-size {

    
    color: darkred;
}

.wp-block-media-text.is-stacked-on-mobile {

    transform: scale(1);
    border-radius:0%;
    transition-duration: 1s;
}

.wp-block-media-text.is-stacked-on-mobile:hover {
    border-radius:30%;
    transform: scale(1.2);
    transition-duration: 1s;
}